@import "tailwindcss";
@import "./transitions.css";

:root {
    --primary-color: #4a90e2;
    --background-color: #f0f0f0;
    --foreground-color: #222;
    --card-background-color: hsla(0, 0%, 95%, 0.4);
    --card-background-color-darker: hsla(0, 0%, 80%, 0.4);
    --text-color: black;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: #eee;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-image: url("/background.svg");
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background-color);
    backdrop-filter: blur(12px);
    border-radius: 1em;
    padding: 1.5em 3em;
}

.card-section {
    margin: 6em 0;
    max-width: 40em;
    width: 100%;
}

.blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 6em 0;
}

.card-center {
    margin: 20em 0;
    width: 38em;
}

.card h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: 800;
}

.card p {
    font-size: 1.2em;
    margin-bottom: 2em;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    border: 2px solid var(--foreground-color);
    padding: 1.5em 2em;
    max-height: fit-content;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.label-container {
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.input-container label {
    font-weight: bold;
    text-wrap: nowrap;
}

.input-container input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--foreground-color);
}

.input-container input:focus, .input-container input:hover {
    border-color: var(--primary-color);
    outline: none;
    transition: 0.2s;
}

.btn {
    position: relative;
    padding: 0.5em 1em;
    border: 1px solid var(--foreground-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--foreground-color);
    transform: translateX(-120%) skewX(30deg);
    transition: 0.2s ease-in-out;
    z-index: -1;
}

.btn:hover {
    color: var(--background-color);
}

.btn:hover::before {
    transform: translateY(0%);
}

.btn:active {
    transform: scale(0.95);
}

.alternative {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
    font-weight: bold;
}

.alternative .or {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    background-color: var(--foreground-color);
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.alternative .link:hover {
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

.error-text {
    @apply text-red-400;
}

.icon-btn {
    cursor: pointer;
    padding: 0.25em;
    transition: 0.2s ease-in-out;
}

.icon-btn img {
    height: 1.5rem;
    min-width: 1.5rem;
}

.icon-btn-primary:hover {
    filter: invert(42%) sepia(76%) saturate(1842%) hue-rotate(163deg) brightness(97%) contrast(101%);
}

.icon-btn-danger:hover {
    filter: invert(42%) sepia(66%) saturate(516%) hue-rotate(309deg) brightness(111%) contrast(117%);
}

.hover-invert {
    transition: 0.2s ease-in-out;
}

.hover-invert:hover {
    color: var(--background-color);
    background-color: var(--foreground-color);
}

@media (width <= 768px) {
    .blog-section {
        margin-top: 0;
        width: 100%;
    }
}

@media (width <= 600px) {
    .card-section {
        margin-top: 0;
        border-radius: 0;
    }

    .card-center {
        margin: auto 0;
        width: 100%;
    }
}

@media (width <= 425px) {
    .card-section {
        padding: 1.5em 1em;
    }
}
